In [13]:
import mysql.connector

In [14]:
# Replace the values below with your database credentials
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "Kamina1@",
}

In [15]:
# Establish a connection to the database server
try:
    conn = mysql.connector.connect(**db_config)
    print("Connected to MySQL server!")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    conn = None

Connected to MySQL server!

In [17]:
if conn is not None:
    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE my_database")
    print("Database created successfully!")
    cursor.close()
    conn.close()
else:
    print("Unable to connect to MySQL server.")

Database created successfully!

In [18]:
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "Kamina1@",
    "database": "my_database"
}

In [19]:
# Establish a connection to the database server
try:
    conn = mysql.connector.connect(**db_config)
    print("Connected to MySQL server!")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    conn = None

Connected to MySQL server!

In [20]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Kamina1@",
  database="my_database"
)

# Create a cursor object
mycursor = mydb.cursor()

# Write the SQL query
sql = "CREATE TABLE my_table (id INT, name VARCHAR(255), age INT)"

# Execute the query
mycursor.execute(sql)

# Commit the changes to the database
mydb.commit()

# Close the cursor and database connection
mycursor.close()
mydb.close()

In [21]:
# Insert data into the table
if conn is not None:
    cursor = conn.cursor()
    sql = "INSERT INTO my_table (id, name, age) VALUES (%s, %s, %s)"
    values = [
        (1, 'John', 25),
        (2, 'Jane', 30),
        (3, 'Mark', 40),
        (4, 'Emily', 22),
        (5, 'David', 35)
    ]
    cursor.executemany(sql, values)
    conn.commit()
    print(cursor.rowcount, "rows inserted successfully!")
    cursor.close()
    conn.close()
else:
    print("Unable to connect to MySQL server.")

5 rows inserted successfully!

In [24]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Kamina1@",
  database="my_database"
)

# Create a cursor object
mycursor = mydb.cursor()

# Write the SQL query to select all data from my_table
sql = "SELECT * FROM my_table"

# Execute the query
mycursor.execute(sql)

# Fetch all the data from the query result
result = mycursor.fetchall()

# Print the result
for row in result:
  print(row)

# Close the cursor and database connection
mycursor.close()
mydb.close()

(1, 'John', 25)
(2, 'Jane', 30)
(3, 'Mark', 40)
(4, 'Emily', 22)
(5, 'David', 35)